*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: Arial, sans-serif;
    background: #f5f7fb;
    color:#333;
    line-height:1.6;
}

header{
    background: linear-gradient(135deg,#0f172a,#2563eb);
    color:white;
    text-align:center;
    padding:60px 20px;
}

header h1{
    font-size:42px;
    margin-bottom:10px;
}

header p{
    font-size:18px;
    margin:8px;
}

section{
    background:white;
    width:85%;
    margin:30px auto;
    padding:25px;
    border-radius:15px;

    box-shadow:
    0 5px 20px rgba(0,0,0,.1);

    transition:.3s;
}

section:hover{
    transform:translateY(-5px);
}

h2{
    color:#2563eb;
    margin-bottom:15px;
    border-bottom:2px solid #eee;
    padding-bottom:10px;
}

ul{
    padding-left:20px;
}

li{
    margin-bottom:8px;
}

h3{
    color:#0f172a;
    margin-top:15px;
}

a{
    color:#2563eb;
    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

footer{
    text-align:center;
    padding:30px;
    color:gray;
}

@media(max-width:768px){

section{
width:95%;
}

header h1{
font-size:30px;
}

}
